
    <h1>User Details</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <p class="card-text"><strong>Name: </strong>{{UserDetails.fullName}}</p>
            <p class="card-text"><strong>Father's Name: </strong>{{UserDetails.fathersName}}</p>
            <p class="card-text"><strong>Phone: </strong>{{UserDetails.mobileNumber}}</p>
            <p class="card-text"><strong>Email: </strong>{{UserDetails.email}}</p>
            <p class="card-text"><strong>Aadhar Card Number: </strong>{{UserDetails.aadharNumber}}</p>
            <p class="card-text"><strong>Date Of Birth: </strong>{{UserDetails.dob}}</p>
            <p class="card-text offset-2"><strong>Residental Address: </strong></p>
            <p class="card-text"><strong>Address: </strong>{{UserDetails.rAddress}}</p>
            <p class="card-text"><strong>State: </strong>{{UserDetails.rState}}</p>
            <p class="card-text"><strong>City: </strong>{{UserDetails.rCity}}</p>
            <p class="card-text"><strong>Pincode: </strong>{{UserDetails.rPincode}}</p>
            <p class="card-text offset-2"><strong>Permanent Address: </strong></p>
            <p class="card-text"><strong>Address: </strong>{{UserDetails.pAddress}}</p>
            <p class="card-text"><strong>State: </strong>{{UserDetails.pState}}</p>
            <p class="card-text"><strong>City: </strong>{{UserDetails.pCity}}</p>
            <p class="card-text"><strong>Pincode: </strong>{{UserDetails.pPincode}}</p>
            <p class="card-text offset-2"><strong>Occupation: </strong></p>
            <p class="card-text"><strong>Occupation Type: </strong>{{UserDetails.occupationType}}</p>
            <p class="card-text"><strong>Source Of Income: </strong>{{UserDetails.income}}</p>
            <p class="card-text"><strong>Annual Income: </strong>{{UserDetails.annualIncome}}</p>
          </div>
        </div>
      </div>
    </div>