<div class="row">
    <div class="col-1 offset-11">
        <div class="d-grid">
            <button class="btn btn-primary" (click)="logout()">Logout</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-2 offset-1">
            <div class="col  offset-1">
                <label class="form-label">Get Your Details</label>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary" (click)="btnClick()">YourDetails </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-2 offset-1">
            <div class="col  offset-1">
                <label class="form-label">Change Password</label>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary" (click)="goUpdatePassword()">ChangePassword</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-2 offset-1">
            <div class="col  offset-1">
                <label class="form-label">Add Benificary</label>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary" (click)="goAddBenificary()">AddBenificary</button>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-2 offset-1">
        <div class="col  offset-1">
            <label class="form-label">Make Transaction</label>
        </div>
        <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary" (click)="goTransaction()">Transaction</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2 offset-1">
        <div class="col offset-1">
            <label class="form-label">See Transactions</label>
        </div>
        <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary" (click)="btnpayment()">History</button>
        </div>
    </div>
</div>

