<div class="container">
    <p class="text-center fs-3" [ngClass]="isUpdated ? 'text-success pb-1' : 'text-danger pb-1'">{{displaymsg}}</p>
    <form [formGroup]="passwordForm" (ngSubmit)="passwordSubmit()" class="border p-3 rounded-3">
        <div class="row">
            <div class="col text-center p-2 mb-3 bg-light">
                    <span class="fs-3">Update Your Password</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="OldPassword" class="form-label">Old Password</label>
                <input type="password" class="form-control" id="OldPassword" 
                formControlName="OldPassword">
                <div class="form-text text-danger" *ngIf="OldPassword.errors?.['required'] 
                && (OldPassword.touched || OldPassword.dirty)">
                    Please enter the old password
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="NewPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="NewPassword" formControlName="NewPassword">
                <div class="form-text text-danger " 
                *ngIf="NewPassword.errors?.['minLength'] || NewPassword.errors?.['maxLength']
                && (NewPassword.touched || NewPassword.dirty)">
                    password should between 6 - 10
                </div>
                <div class="form-text text-danger " *ngIf="NewPassword.errors?.['required']
                && (NewPassword.touched || NewPassword.dirty)">
                    Password is required
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="CPassword" class="form-label">Confirm Password*</label>
                <input type="password" class="form-control" id="CPassword" formControlName="CPassword">
                <div class="form-text text-danger" (ngStyle)="{'display':repeatpass}">
                    Repeat password is invalid
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="d-grid">
                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>Don't have Account? </span><a routerLink="/register">Register</a> 
                </div>
            </div>
        </div>
    </form>
    </div>
